# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ
*.iml
.idea/
out/

# Eclipse
.settings/
.project
.classpath
bin/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
